@font-face {
    font-family: "Coiny";
    src: url("Coiny-Cyrillic.ttf") format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: Coiny;
    font-weight: 800;
    font-size: 3em;
    color: #E2000F;
}

img {
    width: 40%;
    align-self: center;
}

a.accueil {
    padding: 20px 5px;
    border: 1mm solid grey;
    border-radius: 15px;
    width: 30%;
    align-self: center;
    margin-bottom: 30px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: grey;
    font-size: 1.3em;
}

a.accueil:hover {
    color: white;
    background-color: grey;
}

a.retour {
    padding: 10px 3px;
    border: 0.5mm solid grey;
    border-radius: 15px;
    width: 10%;
    align-self: left;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: grey;
    font-size: 1em;
}

a.retour:hover {
    color: white;
    background-color: grey;
}

button {
    padding: 10px 3px;
    border: 0.5mm solid grey;
    border-radius: 15px;
    width: 10%;
    align-self: left;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: grey;
    font-size: 1em;
    background-color: white;
}

button:hover {
    color: white;
    background-color: grey;
}

div.boutons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#pieces_kit {
    margin-top: 50px;
    width:100%

}
#table_pieces_kit {
    width:100%;
}